@model CSIS483_ELearning_WebApplication.Models.CourseContentModel
@{
    ViewData["Title"] = "Course Content";
}

<head>
    <link href="~/css/CourseContent/courseContentLarge.css" rel="stylesheet" />
</head>

<!--Header-->
<!--if Course exists-->
@{ if (Model != null)
    {

        <div class="courseContentHeader">
            <h3>Course: @Model.courseTitle</h3>
            <p>Please review the content below to prepare for your test</p>
        </div>

        <!--Study Content-->
<div class="divStudyContent">
    <h6>Difficulty Rating - @Model.difficultyRating</h6>

    <!--Populate video links-->
    <h5>Videos</h5>
    @foreach (string videoLink in Model.videoLinks)
    {
        <a href="@videoLink" target="_blank">@videoLink</a>
    }

    <!--Populate study links-->
    <h5>Study Links</h5>
    @foreach (string pdfOrWebLink in Model.webAndPDFLinks)
    {
        <a href="@pdfOrWebLink" target="_blank">@pdfOrWebLink</a>
    }
    <h5>Notes</h5>
    <p>@Model.notes</p>
    <a href="@Url.Action("TakeTest", "Home", new { courseID = Model.courseTitle })">
        <div class="btn btn-outline-dark btnTakeTest">Proceed to testing</div>
    </a>
</div>
    }
    else
    {
          
        <div class="divStudyContent" style="height:200px; text-align:center; margin-top:100px;">
            <h5>No course selected</h5>
            <p>Go back to the homepage and select a course.</p>
        </div>
    }
}
