@model List<CSIS483_ELearning_WebApplication.Models.TakeATestModel>
@{
    ViewData["Title"] = "Take Test";
}

<head>
    <link href="~/css/TakeTest/TakeTestLarge.css" rel="stylesheet" />
</head>



<!--Testing contents-->
@if (Model != null)
{
    int i = 0;

    <div class="divTestContents">
        <h3 class="courseID">@Model[i].testID</h3>
        <p>Answer each question to the best of your knowledge, then submit the test.</p>

        @foreach (TakeATestModel testModel in Model)
        {

            <p style="margin-top:50px;">@Model[i].questionNumber. @Model[i].question</p>
            <select class="form-control">
                <option>@Model[i].answerOption1</option>
                <option>@Model[i].answerOption2</option>
                <option>@Model[i].answerOption3</option>
                <option>@Model[i].answerOption4</option>
            </select>

            i++;
        }

        <button class="btn btn-outline-success btnSubmitTest">Submit</button>
    </div>

}




<!--JS FILE-->
<script src="~/js/TakeTest.js"></script>

