@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eLearning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Google Captia V2-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:#1e92e6">OnBoard eTraining <img class="homeLogo" src="~/Images/homeLogo.png" /></a>
                <div class="divLogin">
                    <p class="pLoginText">
                        @if (Context.Session.GetString("firstname") == null)
                        {<htInject>Login</htInject> }
                        else
                        { @Context.Session.GetString("firstname") <htmlInject> </htmlInject> @Context.Session.GetString("lastname");
                    }
                        <img class="imgProfilePic" src="~/Images/blankProfilePic.png" />
                    </p>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reports">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Support">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2020 - CSIS483_ELearning_WebApplication - <a asp-area="" asp-controller="Home" asp-action="References">References</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


    <!------------------Login pop up--------------------->
    <!--Dimmer-->
    <div class="divDimmer"></div>
    <!--Login Pop up form-->
    <div class="divPopUpLoginForm">
        <p>OnBoard eTraining Login</p>
        <hr />
        <p>Username</p>
        <input type="text" class="form-control inputLoginUsername" />
        <p>Password</p>
        <input type="password" class="form-control inputLoginPassword" />
        <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LdQ_t8ZAAAAADZl2HjL8TdvyW6YtVK5pAUJRgGo"></div>
        <button class="btn btn-dark btnUserLogin">Login</button>
        <button class="btn btn-info popUpNewUserBtn">New User?</button>
    </div>

    <!-------------------Logout Div-------------------------->
    <div class="divLogout">
        <h5>OnBoard eTraining Logout</h5>
        <p>Please select an option</p>
        <button class="btn btn-outline-danger btnLogout">Logout</button>
        <button class="btn btn-outline-dark btnLogoutCancel">Cancel</button>
        <img src="~/Images/loading.gif" />
    </div>

    <script>
        //Mutli Purpose Functions
        //Turn dimmer on
        function callDimmer() {
            $(".divDimmer").css("visibility", "visible");
            $(".divDimmer").css("opacity", ".5");
        }

        //Header login button clicked
        $(".divLogin").on('click', function ()
        {
            //If user not logged in
            @if (Context.Session.GetString("firstname") == null)
            {
                <text>
                    callDimmer();
                    $(".divPopUpLoginForm").css("visibility", "visible");
                    $(".divPopUpLoginForm").css("opacity", "1");
                </text>
            }
            else
            {
                <text>
                    callDimmer();
                    $(".divLogout").css("visibility", "visible");
                    $(".divLogout").css("opacity", "1");
                </text>
            }
        });

        //-----------Pop up login form-------------
        //New User clicked
        $(".popUpNewUserBtn").on('click', function () {
            window.location.href = "/home/SignUp";
        });


        //Login User button clicked
        $(".btnUserLogin").on('click', function ()
        {
            //Send login data
            var username = $(".inputLoginUsername").val();
            var password = $(".inputLoginPassword").val();
            $.post("/home/loginExistingUser", { username: username, password: password, captcha: grecaptcha.getResponse()}, function success(data) {
                if (data === "true") {
                    location.reload();
                }
                else {
                    alert(data);
                }
            });

        });

        //Logout cancel button clicked
        $(".btnLogoutCancel").on('click', function () {
            $(".divLogout").css("visibility", "hidden");
            $(".divLogout").css("opacity", "0");
            $(".divDimmer").css("visibility", "hidden");
            $(".divDimmer").css("opacity", "0");
        });

        //Logout button clicked
        $(".btnLogout").on('click', function ()
        {
            $(".divLogout img").css("visibility", "visible");
            $(".divLogout .btnLogout").text("");
            $(".divLogout .btnLogout").css("height", "38px");
            setTimeout(function ()
            {
                $.post("/home/logout", {}, function success(data) {
                    window.location.reload();
                });
            },1500);
        });
    </script>




</body>
</html>
